# Ignore Play! working directory #
bin/
/db
.eclipse
.idea
/lib/
/logs/
/modules
/project/target
/project/project
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
samples/**/target
samples/**/logs
